= simple_form_for(@task, html: { class: "form_horizontal" }) do |f|
  = f.input :title, label: "Task Title" 
  = f.input :description, label: "Task Description" 
  = f.input :company, label: "Your company"
  = f.input :url, label: "link to task"
  %br/
  = f.button :submit
