%html
%head
  %title TaskRabbit
  = csp_meta_tag
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand TaskRabbit
      %ul.nav.navbar-nav
        %li= link_to "All Tasks", root_path
        - Category.all.each do |cat|
          %li= link_to cat.name, tasks_path(category: cat.name)
      = link_to "New Task", new_task_path, class: "navbar-text navbar-right navbar-link"
  .container
    .col-md-8.col-md-offset-2
      = yield
